.containerDashboardSpaceLand {
    display: flex;
    margin: auto;
    margin-top: 3.7%;
    width: 94%;
    height: 83vh;
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    .missions {
        display: flex;
        flex-direction: column;
        flex-basis: 30%;
        border-right: 4px solid black;
        color: black;
        height: 83vh;
    }
    .containerMission {
        display: flex;
        flex-direction: column;
        flex-basis: 70%;
        color: black;
        text-align: center;
        border-left: 2px solid black;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        height: 83vh;
        padding-left: 15%;
        padding-right: 15%;
        overflow:visible;
    }
}