.containerItem {
    display: flex;
    border: 2px solid black;
    border-radius: 20px;
    width: 90%;
    border-radius: 20px;
    padding-left: 6px;
    margin-left: 15px;
    margin-top: 0px;
    margin-bottom: 10px;
    cursor: pointer;
    position: relative;
    .imgItem {
        margin-top: 15.5px;
        padding-top: 15px;
        img {
            width: 85%;
        }
    }
    .textItem {
        color: black;
        display: flex;
        flex-direction: column;
        justify-content: left;
        margin-left: 0px;
        margin-top: 5px;
        h3 {
            font-size: 15px;
        }

        p {
            font-size: 13px;
        }
        .dateItem {
            margin-right: 7%;
            display: flex;
            justify-content: flex-end
        }
        }
}