.containerStoryMission{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height:auto;
    width: auto;
    margin: 5% -62% 0% -70%;
    overflow: scroll;
    overflow-x: hidden;
}