#root{
    background-color: #000000;
    opacity: 0.8;
    background-image:  radial-gradient(#cca3f5 0.5px, transparent 0.5px), radial-gradient(#9d40fd 0.5px, #000000 0.5px);
    background-size: 20px 20px;
    background-position: 0 0,10px 10px;
}