.contentStoryMission {
    display: flex;
    flex-direction: column;
    width: 100%;
    h2 {
        font-size: 18px;
        padding-left: 3.5%;
    }
    p {
        font-size: 13px;
        margin: 0% 18% 0% 20%;
        padding-bottom: 1.5%;
        padding-left: 0%;
        padding-right: 0%;
    }
    button {
        background-color: white;
        border-color: black;
        font-size: 14px;
        font-weight: bold;
        margin-left: 47%;
        margin-right: 42%;
        margin-top: -1%;
        :hover {
            color: #213542;
            border-color: #213542;
        }
        a {
            color: black;
            text-decoration: none;
            :hover{
                color: #213542;
                text-decoration: none;
            }
        }
    }
}