.withoutImage {
    margin-top: 11px;
    padding-top: 6px;
    margin-left: 5%;
    img {
        width: 40%;
    }
}

.imageMission {
    margin-top: 0%;
    margin-left: -39%;
    margin-right: -44%;
    img {
        width: 26%;
    }
}