@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap");
body,
#root {
  margin: 0;
  font-family: "Roboto", Courier, monospace;
}

.main-container {
  width: 95%;
  margin: 1rem;
  display: table;
  justify-content: center;
  align-items: center;
  height: max-content;
}

.launches {
  height: 100%;
  border: 1px solid #0a293d;
  display: table-cell;
}
.mission {
  height: 100%;
  width: auto;
  display: table-cell;
  border: 1px solid #0a293d;
}
