.containerMissions {
    display: flex;
    flex-direction: column;
    height: 83vh;
    .titleMissions {
        display: flex;
        margin-top: 0%;
        margin-bottom: -30px;
        h2 {
            margin-top: 0%;
            padding-top: 10%;
            margin-bottom: 0%;
            padding-bottom: 0%;
            padding-left: 27%;
            padding-right: 10%;
        }
    }
    .containerItems {
        display: flex;
        flex-direction: column;
        margin-top: 15%;
        overflow-y: scroll;
        position: relative;
        height:auto;
        width: auto;
        :hover {
            background-color: #49565E;
            border: none;
            border-radius: 20px;
            color: #ffffff;
        }
    }
}